<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <a class="navbar-brand" id="custom-navbar-title" href="#">Pandu</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-right" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('index') }}">Kenalan Yuk</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('store') }}">Pasar Limbah</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Lampu Hijau</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Tentang Kami</a>
      </li>
    </ul>
  </div>
</nav>
