<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Pandu, si pemandu di Smart Environment">
    <link rel="icon" href="{{ url_for('static', filename='img/web_img/ava.png') }}" type="image/gif" sizes="16x16">

    <!--Import Google Icon & Font-->
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--Import css-->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='master.css') }}"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}"/>
    {% block css %}
    {% endblock %}
    <title>Pandu | Sang Pemandu Smart Environment</title>
</head>
<body>
    {% include 'include/nav.html' %}

    {% block content %}
    {% endblock %}

    {% include 'include/footer.html' %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    {% block javascript %}
    {% endblock %}
</body>
</html>
